.myAccount{
	//border-top: 4px solid gray;
	margin-top: 10px;
	background: rgb(51,51,51);
}

.container{
	margin-left: 20px;
}

.myAccount h1{
	color:white;
	margin-left: 20px;
}

.more img{
	//display: inline;
	float:right;
	width: 10px;
}

.selecionado{
	background-color: #483D8B;
}

.more_border{
	background-color:gray;
	width: 99%;
	height: 4px;
	//float: left;
	//display: inline;
}

.pagina{
	width:100%;
	overflow-x:auto;
	height:100%;   
}

.linha{
	width:auto;
	padding:5px;
	height:110px;
	display:table;
}

.tile{
	height:100px;    
	width:100px;   
	float:left;
	margin:0 5px 0 0;
	padding:2px;
	align: left;
}

.tile img{
	width:56px;
	margin:13px 22px 0 22px
}

.tileLargo{
	width:210px;
}

.tileLargo img{
	margin:20px 77px 0 77px
}

.yellow{
	background:#DAA520;
}

.red{
	background:#CD0000; 
}

.blue{
	background:#4682B4;
}

.green{
	background-color: #2E8B57;
}