.block{
	background-color: #7FA8F2;
	padding: 1%;
}

.block a{
	text-decoration: none;
}

.block:hover{
	box-shadow: 0px 0px 30px #000;
}

/*.block_image{
	float: left;
	//position: relative;
	margin: 10px;
	//11border: solid black 2px;
	width: 160px;
	height: 160px;
}*/

.block_image img{
	width: 160px;
	//height: 20px;
	//position: relative;
	//float:left;
}

.block_title{
	font-size:22px;
	color:black;
	//float: left;
	//position:relative;
}

/*.block_title:hover{
	box-shadow: 0px 3px 10px #000;
}*/

.block_title a{
	color:red;
}

.block_description{
	font-size:16px;
	color:#141414;
}

.block_description a{
	color:green;
}
